:root {
    --Font: "Geologica", sans-serif;
    --FirstColor: #1FE0B7;
    --SecondColor: #1649E0;
    --ThirdColor: #1FCAE0;
    --FourthColor: #69D3E0;
    --FifthColor: #04E067;
    --SixthColor: #1F8DE0;
    --Wihte: #FFFFFF;
    --Black: #000000;
}

/*------------------------------------- GENERAL -------------------------------------*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--Font);
    text-transform: uppercase;
}

.BodyGestionarAplicacion {
    height: 100vh;
}

.ContenidoBodyGestionarAplicacion {
    height: 100%;
    width: 100%;
    display: flex;
}

/*------------------------------------- NAVIGATION -------------------------------------*/

.DivBarraNavegacionGestionarAplicacion {
    width: 15%;
    display: flex;
}

.BarraNavegacionGestionarAplicacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--SecondColor);
}

.DivLinkLogoGestionarAplicacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImagenLogo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: solid 7px var(--FifthColor);
}

.DivLinkGestionarAplicacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkGestionarAplicacion {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    border: solid 5px transparent;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    font-weight: bold;
    padding: 7px;
}

.IconoSVGLink {
    filter: drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte));
}

.TextoLinkGestionarAplicacion {
    color: var(--Black);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-weight: bold;
}

.LinkGestionarAplicacion:hover .TextoLinkGestionarAplicacion {
    opacity: 1;
    font-weight: bold;
}

.LinkGestionarAplicacion:hover .IconoSVGLink {
    filter: none;
}

.LinkGestionarAplicacion:hover {
    background-color: var(--FourthColor);
    border-color: var(--FifthColor);
}

/*------------------------------------- CONTENT -------------------------------------*/

.DivContenidoGestionarAplicacion {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--FirstColor);
}

.DivEncabezadoGestionarAplicacion {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.EncabezadoGestionarAplicacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TituloPrincipalGestionarAplicacion {
    text-align: center;
    font-size: 4rem;
}

.DivContenidoPrincipalGestionarAplicacion {
    height: 85%;
    width: 100%;
    overflow: hidden;
}

.DivPrincipalGestionarAplicacion {
    height: 100%;
    width: 100%;
}

.PrincipalGestionarAplicacion {
    height: 100%;
    width: 100%;
}

.ContenidoPrincipalGestionarAplicacion {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.DivFormularioGestion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 95%;
    scrollbar-width: none;
    background-color: var(--ThirdColor);
    border: solid 5px var(--SixthColor);
    border-radius: 15px;
}

.DivEtiquetaInput {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.FormularioAgregar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 80%;
}

.EtiquetaFormulario {
    font-size: 30px;
    font-weight: bold;
    transition: .5s;
}

.InputFormularioAgregar {
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    width: 60%;
    padding: 0;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0;
    font-family: var(--Font);
}

.InputFormularioAgregar:focus {
    border: solid 4px var(--SecondColor);
}

.InputFormularioAgregar:focus~label {
    color: var(--SecondColor);
    font-size: 35px;
}

.SelectFormularioAgregar {
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    width: 350px;
    height: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0;
    font-family: var(--Font);
}

.OptionSelectFormularioAgregar {
    font-weight: bold;
    font-family: var(--Font);
    text-align: center;
}

.SelectFormularioAgregar:focus {
    border: solid 4px var(--SecondColor);
}

.SelectFormularioAgregar:focus~label {
    color: var(--SecondColor);
    font-size: 35px;
}

.BotonFormularioAgregar {
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
    font-family: var(--Font);
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    transition: ease-out 0.8s;
    border: 4px solid var(--SecondColor);
    box-shadow: inset 0 0 0 0 var(--SecondColor);
    text-decoration: none;
    color: var(--Black);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.BotonFormularioAgregar:hover {
    color: var(--Wihte);
    box-shadow: inset 0 -100px 0 0 var(--SecondColor);
}

.BotonFormularioAgregar:active {
    transform: scale(0.9);
}

.DivInformacionGestion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    width: 35%;
    height: 95%;
    scrollbar-width: none;
    background-color: var(--ThirdColor);
    border: solid 5px var(--SixthColor);
    border-radius: 15px;
}

.TituloLista {
    font-size: 25px;
}

.ListaExistentes {
    list-style: none;
    width: 95%;
    padding: 0;
}

.NombreExistentes {
    width: 95%;
}

.FormularioActualizar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.InputFormularioActualizar {
    width: 200px;
    font: var(--Font);
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    border: solid 3px var(--FifthColor);
    padding: 0;
    height: 30px;
}

.InputFormularioActualizar:focus {
    border: solid 4px var(--SecondColor);
}

.BotonFormularioActualizar {
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    font-family: var(--Font);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    transition: ease-out 0.8s;
    border: 4px solid green;
    box-shadow: inset 0 0 0 0 green;
    text-decoration: none;
    color: var(--Black);
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.BotonFormularioActualizar:hover {
    color: var(--Wihte);
    box-shadow: inset 0 -100px 0 0 green;
}

.BotonFormularioActualizar:active {
    transform: scale(0.9);
}

.DivFooterGestionarAplicacion {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivParaDosInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.DivAlquieleresPendientes {
    background-color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AlquieleresPendientes {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-family: var(--Font);
    font-weight: bold;
    color: var(--Black);
}

.DivGestionarEmpresa {
    width: 95%;
}

.FormularioEmpresa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 100%;
}

.DivInformacionEmpresa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}

.InformacionEmpresa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 70%;
}

.LogoEmpresa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 25%;
}

.ImagenLogoEmpresa {
    width: 200px;
    height: 200px;
    border: 7px solid var(--SecondColor);
}

.DosComponentes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.DivEtiquetaInputEmpresa {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 48%;
}

.EtiquetaFormularioEmpresa {
    font-size: 15px;
    font-weight: bold;
    transition: .5s;
    font-family: var(--Font);
}

.InputFormulario {
    width: 342px;
    font: var(--Font);
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    padding: 0;
    height: 35px;
    text-align: center;
}

.SelectFormulario {
    width: 350px;
    font: var(--Font);
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    text-align: center;
    padding: 0 10px;
    height: 43px;
}

.InputFormulario:focus {
    border: solid 4px var(--SecondColor);
}

.InputFormulario:focus~label {
    color: var(--SecondColor);
    font-size: 18px;
}

.SelectFormulario:focus {
    border: solid 4px var(--SecondColor);
}

.SelectFormulario:focus~label {
    color: var(--SecondColor);
    font-size: 18px;
}

.OptionSelect {
    font: var(--Font);
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.InputSolo{
    width: 95%;
}

.DivInputFoto {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid var(--SecondColor);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 0 0 0 0 var(--SecondColor);
    transition: ease-out 0.8s;
}

.DivInputFoto:hover {
    box-shadow: inset 0 -150px 0 0 var(--SecondColor);
}

.DivInputFoto:hover .IconoSubirFoto {
    stroke: var(--Wihte);
    stroke-width: 2;
    scale: 1.2;
}

.IconoSubirFoto {
    cursor: pointer;
    transition: ease-out 0.8s;
}

.InputFotoEmpresa {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
    z-index: 5;
}

.BotonActualizarEmpresa {
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
    font-family: var(--Font);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    transition: ease-out 0.8s;
    border: 4px solid var(--SecondColor);
    box-shadow: inset 0 0 0 0 var(--SecondColor);
    text-decoration: none;
    color: var(--Black);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.BotonActualizarEmpresa:hover {
    color: var(--Wihte);
    box-shadow: inset 0 -100px 0 0 var(--SecondColor);
}

.BotonActualizarEmpresa:active {
    transform: scale(0.9);
}