:root {
    --Font: "Geologica", sans-serif;
    --FirstColor: #1FE0B7;
    --SecondColor: #1649E0;
    --ThirdColor: #1FCAE0;
    --FourthColor: #69D3E0;
    --FifthColor: #04E067;
    --SixthColor: #1F8DE0;
    --Wihte: #FFFFFF;
    --Black: #000000;
}

/*------------------------------------- GENERAL -------------------------------------*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--Font);
    text-transform: uppercase;
}

.BodyInformacionUsuario {
    height: 100vh;
}

.ContenidoBodyInformacionUsuario {
    height: 100%;
    width: 100%;
    display: flex;
}

/*------------------------------------- NAVIGATION -------------------------------------*/

.DivBarraNavegacionInformacionUsuario {
    width: 15%;
    display: flex;
}

.BarraNavegacionInformacionUsuario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--SecondColor);
}

.DivLinkLogoInformacionUsuario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImagenLogo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: solid 7px var(--FifthColor);
}

.DivLinkInformacionUsuario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkInformacionUsuario {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    border: solid 5px transparent;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    font-weight: bold;
}


.IconoLinkSVG {
    filter: drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte));
}

.TextoLinktInformacionUsuario {
    color: var(--Black);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.LinkInformacionUsuario:hover .TextoLinktInformacionUsuario {
    opacity: 1;
}

.LinkInformacionUsuario:hover .IconoLinkSVG {
    filter: none;
}

.LinkInformacionUsuario:hover {
    background-color: var(--FourthColor);
    border-color: var(--FifthColor);
}

/*------------------------------------- Contenido -------------------------------------*/

.DivContenidoInformacionUsuario {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--FirstColor);
}

.DivEncabezadoInformacionUsuario {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.EncabezadoInformacionUsuario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PrincipalTitlelInformacionUsuario {
    text-align: center;
    font-size: 4rem;
}

.DivContenidoPrincipalInformacionUsuario {
    height: 85%;
    width: 100%;
    overflow: hidden;
}

.DivPrincipalInformacionUsuario {
    height: 100%;
    width: 100%;
}

.PrincipalInformacionUsuario {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenidoPrincipalInformacionUsuario {
    height: 98%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--ThirdColor);
    border: 5px solid var(--SixthColor);
    border-radius: 15px;
}

.FormularioActualizarUsuario {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Grupo2Elementos {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.GrupoLinks {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.EtiquetaFormulario{
    font-size: 15px;
    font-weight: bold;
    transition: .5s;
    font-family: var(--Font);
}

.InputFormulario {
    width: 262px;
    font: var(--Font);
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    text-indent: 20px;
    padding: 0;
    height: 40px;
    padding-right: 20px;
}

.SelectFormulario {
    width: 290px;
    font: var(--Font);
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    text-indent: 20px;
    padding: 0;
    height: 48px;
    padding-right: 20px;
}

.InputFormulario:focus {
    border: solid 4px var(--SecondColor);
}

.InputFormulario:focus~label {
    color: var(--SecondColor);
    font-size: 18px;
}

.SelectFormulario:focus {
    border: solid 4px var(--SecondColor);
}

.SelectFormulario:focus~label {
    color: var(--SecondColor);
    font-size: 18px;
}

.OptionSelect {
    font: var(--Font);
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.Link {
    text-decoration: none;
    color: var(--Black);
    font-weight: bold;
    font-size: 15px;
    transition: .5s;
}

.Link:hover {
    font-size: 20px;
    color: var(--Wihte);
}

.BotonesFormulario {
    font-family: var(--Font);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    padding: 5px 0;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.8s;
    border: 2px solid var(--SecondColor);
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 var(--SecondColor);
}

    .BotonesFormulario:hover {
        color: var(--Wihte);
        box-shadow: inset 0 -100px 0 0 var(--SecondColor);
    }

    .BotonesFormulario:active {
        transform: scale(0.9);
    }
