:root {
    --Font: "Geologica", sans-serif;
    --FirstColor: #1FE0B7;
    --SecondColor: #1649E0;
    --ThirdColor: #1FCAE0;
    --FourthColor: #69D3E0;
    --FifthColor: #04E067;
    --SixthColor: #1F8DE0;
    --Wihte: #FFFFFF;
    --Black: #000000;
}

/*------------------------------------- GENERAL -------------------------------------*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--Font);
    text-transform: uppercase;
}

.BodyInformacionVehiculo {
    height: 100vh;
}

.ContenidoBodyInformacionVehiculo {
    height: 100%;
    width: 100%;
    display: flex;
}

/*------------------------------------- NAVIGATION -------------------------------------*/

.DivBarraNavegacionInformacionVehiculo {
    width: 15%;
    display: flex;
}

.BarraNavegacionInformacionVehiculo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--SecondColor);
}

.DivLinkLogoInformacionVehiculo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImagenLogo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: solid 7px var(--FifthColor);
}

.DivLinkInformacionVehiculo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkInformacionVehiculo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    border: solid 5px transparent;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    font-weight: bold;
}

.IconoLinkSVG {
    filter: drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte));
}

.TextoLinkInformacionVehiculo {
    color: var(--Black);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.LinkInformacionVehiculo:hover .TextoLinkInformacionVehiculo {
    opacity: 1;
}

.LinkInformacionVehiculo:hover .IconoLinkSVG {
    filter: none;
}

.LinkInformacionVehiculo:hover {
    background-color: var(--FourthColor);
    border-color: var(--FifthColor);
}

/*------------------------------------- Contenido -------------------------------------*/

.DivContenidoInformacionVehiculo {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--FirstColor);
}

.DivEncabezadoInformacionVehiculo {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.EncabezadoInformacionVehiculo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TitluloPrincipalInformacionVehiculo {
    text-align: center;
    font-size: 4rem;
}

.DivContenidoPrincipalInformacionVehiculo {
    height: 85%;
    width: 100%;
    overflow: hidden;
}

.DivPrincipalInformacionVehiculo {
    height: 100%;
    width: 100%;
}

.PrincipalInformacionVehiculo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenidoPrincipalInformacionVehiculo {
    height: 97%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ThirdColor);
    border: 5px solid var(--SixthColor);
    border-radius: 15px;
}

.FormularioVehiculo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.DivComponentesConFoto {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.GrupoComponentes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ComponentesFormulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 100%;
    gap: 10px;
}

.DivEtiquetaInput {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.EtiquetaFormulario {
    font-size: 15px;
    font-weight: bold;
    transition: .5s;
    font-family: var(--Font);
}

.InputFormulario {
    width: 357px;
    font: var(--Font);
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    padding: 0;
    height: 40px;
    text-align: center;
}

.InputCorto {
    width: 202px;
}

.SelectFormulario {
    width: 365px;
    font: var(--Font);
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    text-align: center;
    padding: 0;
    height: 48px;
}

.InputFormulario:focus {
    border: solid 4px var(--SecondColor);
}

.InputFormulario:focus~label {
    color: var(--SecondColor);
    font-size: 18px;
}

.SelectFormulario:focus {
    border: solid 4px var(--SecondColor);
}

.SelectFormulario:focus~label {
    color: var(--SecondColor);
    font-size: 18px;
}

.OptionSelect {
    font: var(--Font);
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.DivFotoVehiculo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
}

.FotoVehiculo {
    width: 95%;
    height: 250px;
}

.ComponentesBotones {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GrupoBotones {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.BotonFormularioActualizar {
    font-family: var(--Font);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    padding: 5px 0;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.8s;
    border: 2px solid var(--SecondColor);
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 var(--SecondColor);
}

.BotonFormularioActualizar:hover {
    color: var(--Wihte);
    box-shadow: inset 0 -100px 0 0 var(--SecondColor);
}

.BotonFormularioActualizar:active {
    transform: scale(0.9);
}

.BotonFormularioEliminar {
    font-family: var(--Font);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    padding: 5px 0;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.8s;
    border: 2px solid red;
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 red;
    text-decoration: none;
    text-align: center;
    color: var(--Black);
}

.BotonFormularioEliminar:hover {
    color: var(--Wihte);
    box-shadow: inset 0 -100px 0 0 red;
}

.BotonFormularioEliminar:active {
    transform: scale(0.9);
}

.BotonFormularioActivar {
    font-family: var(--Font);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    padding: 5px 0;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.8s;
    border: 2px solid green;
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 green;
    text-decoration: none;
    text-align: center;
    color: var(--Black);
}

.BotonFormularioActivar:hover {
    color: var(--Wihte);
    box-shadow: inset 0 -100px 0 0 green;
}

.BotonFormularioActivar:active {
    transform: scale(0.9);
}

.DivInputFoto {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid var(--SecondColor);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 0 0 0 0 var(--SecondColor);
    transition: ease-out 0.8s;
}

.DivInputFoto:hover {
    box-shadow: inset 0 -150px 0 0 var(--SecondColor);
}

.DivInputFoto:hover .IconoSubirFoto {
    stroke: var(--Wihte);
    stroke-width: 2;
    scale: 1.2;
}

.IconoSubirFoto {
    cursor: pointer;
    transition: ease-out 0.8s;
}

.InputFotoVehiculo {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
    z-index: 5;
}