:root {
    --Font: "Geologica", sans-serif;
    --FirstColor: #1FE0B7;
    --SecondColor: #1649E0;
    --ThirdColor: #1FCAE0;
    --FourthColor: #69D3E0;
    --FifthColor: #04E067;
    --SixthColor: #1F8DE0;
    --Wihte: #FFFFFF;
    --Black: #000000;
}

/*------------------------------------- GENERAL -------------------------------------*/

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--Font);
    text-transform: uppercase;
}

.BodyInicio {
    height: 100vh;
}

.ContenidoBodyInicio {
    height: 100%;
    width: 100%;
    display: flex;
}

/*------------------------------------- NAVIGATION -------------------------------------*/

.DivBarraNavegacionInicio {
    width: 15%;
    display: flex;
}

.BarraNavegacionInicio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--SecondColor);
}

.DivLinkLogoInicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImagenLogo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: solid 7px var(--FifthColor);
}

.DivLinkInicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkInicio {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    border: solid 5px transparent;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    font-weight: bold;
}


.IconoSVGLink {
    filter: drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte)) drop-shadow(0 0 1px var(--Wihte));
}

.TextoLinkInicio {
    color: var(--Black);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-weight: bold;
}

.LinkInicio:hover .TextoLinkInicio {
    opacity: 1;
    font-weight: bold;
}

.LinkInicio:hover .IconoSVGLink {
    filter: none;
}

.LinkInicio:hover {
    background-color: var(--FourthColor);
    border-color: var(--FifthColor);
}

/*------------------------------------- CONTENT -------------------------------------*/

.DivContenidoInicio {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--FirstColor);
}

.DivEncabezadoInicio {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.EncabezadoInicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TituloPrincipalInicio {
    text-align: center;
    font-size: 4rem;
}

.DivContenidoPrincipalInicio {
    height: 85%;
    width: 100%;
    overflow: hidden;
}

.DivPrincipalInicio {
    height: 100%;
    width: 100%;
}

.PrincipalInicio {
    height: 100%;
    width: 100%;
}

.ContenidoPrincipalInicio {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.BarraFiltrosInicio{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--SecondColor);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
}

.DivEtiquetaInputFiltro{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.FormularioFiltros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.ComponentesFomulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.DivBotonFormulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.BotonFormulario{
    width: 95%;
}

.BotonFormulario {
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    font-size: 20px;
    background: transparent;
    transition: ease-out 1s;
    border: 2px solid var(--FourthColor);
    box-shadow: inset 0 0 0 0 var(--FourthColor);
    text-transform: uppercase;
    font: var(--Font);
    font-weight: bold;
    color: var(--Wihte);
}

    .BotonFormulario:hover {
        color: var(--Black);
        box-shadow: inset 0 -100px 0 0 var(--FourthColor);
    }

    .BotonFormulario:active {
        transform: scale(0.9);
    }

.EtiquetaFiltrosFormulario {
    font-size: 12px;
    font-weight: bold;
    transition: .5s;
    font-family: var(--Font);
    color: var(--Wihte);
}

.SelectFiltrosFormulario {
    width: 220px;
    font: var(--Font);
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    text-align: center;
    padding: 0;
    height: 30px;
}

.FechaFiltrosFormulario{
    width: 180px;
    font: var(--Font);
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    border: solid 4px var(--FifthColor);
    padding: 0 20px;
    height: 22px;
}

.EtiquetaFiltrosFormularioCiudad{
    width: 270px;
}

.SelectFiltrosFormulario:focus {
    border: solid 4px var(--Black);
}

.SelectFiltrosFormulario:focus~label {
    color: var(--Black);
    font-size: 18px;
}

.OptionSelectFormulario {
    font-weight: bold;
    text-align: center;
}

.TarjetasVehiculosInicio {
    width: 95%;
    height: 75%;
    background-color: var(--ThirdColor);
    border: solid 5px var(--SixthColor);
    border-radius: 15px;
    overflow: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px 10px;
}

.InformacionModeloVehiculo {
    width: 95%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid var(--Black);
    background-color: var(--SecondColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.FotoVehiculo {
    width: 210px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px 0;
}

.TituloInformacionModeloVehiculo {
    color: var(--Wihte);
    font-weight: bold;
    margin: 0;
    display: flex;
    font-size: 14px;
    gap: 10px;
}

.ValorInformacionModeloVehiculo {
    color: var(--Black);
    font-weight: normal;
    font-size: 14px;
    font-weight: bold;
}

.LinkInformacionModeloVehiculo {
    text-decoration: none;
}

.TextoLinkInformacionModeloVehiculo {
    color: var(--FirstColor);
    font-size: 14px;
    transition: .5s;
    font-weight: bold;
}

.LinkInformacionModeloVehiculo:hover .TextoLinkInformacionModeloVehiculo {
    text-decoration: none;
    font-size: 17px;
}

.DivFooterInicio {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
